@font-face {
  font-family: PreloMedium;
  src: url('https://github.com/jtrecenti/r-zero-hero/raw/main/slides/prelo.ttf')format('truetype');
}

/*-- scss:defaults --*/

$body-bg: #fff;
$body-color: #414042;
$link-color: #C4161C;
$code-color: #27A5A2;
$code-block-border-color: #009491;

$presentation-heading-color: #C4161C;
$presentation-font-size-root: 30px;

$font-family-sans-serif: "PreloMedium", sans-serif;

$presentation-slide-text-align: left;

$code-block-font-size: 1em;

h1 {
  text-align: center;
}

/*-- scss:rules --*/


.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}